<h1>Add Task</h1>
<%#<%= form_tag(controller:'tasks',action:'add') do%>
<%= form_with url: add_path do |form| %>
  <div class="form-group mb-3">
    <%= form.label :title, 'Task Title' %>
    <%= form.text_field :title, class:'form-control',value:'' %>

    <%= form.label :content, 'Content' %>
    <%= form.text_area :content,class:'form-control',value:'' %>
    <br>
    <%= form.submit 'submit', class:'btn btn-success form-control' %>
  </div>
<% end %>
