<h1>Task List</h1>
<p><%= notice %></p>
<table class="table table-dark table-striped">
  <tr>
    <th>#</th><th>title</th><th></th><th></th>
  </tr>
  <% @data.each do |obj| %>
  <tr>
    <td><%= obj.id %></td>
    <td><%= link_to(obj.title, show_path(obj.id), {class:"link-light"})%></td>
    <td><%= link_to("Edit", edit_path(obj.id), {class:"link-light"})%></td>
    <td><%= link_to("Delete", delete_path(obj.id), class: "link-light", method: :delete, data: {confirm: "Delete this task?"})%></td>
  </tr>
  <% end %>
</table>
